@inject StreamService StreamService
@implements IDisposable

<div class="stream-container">
    <div class="stream-content @(StreamService.ChatMode == ChatDisplayMode.Attached ? "with-chat" : "")">

        <div class="stream-video">
            @if (Stream.IsTwitch)
            {
        <iframe src="@Stream.EmbedUrl"
            class="stream-iframe"
            title="@Stream.VideoTitle"
            width="100%"
            height="100%"
            frameborder="0"
            allow="@Stream.VideoPermissions"
            allowfullscreen
            scrolling="no"
            loading="lazy">
                </iframe>
            }
            else if (Stream.IsYouTube)
            {
                <iframe src="@Stream.EmbedUrl"
                        class="stream-iframe"
                        title="@Stream.VideoTitle"
            width="100%"
            height="100%"
            frameborder="0"
                        allow="@Stream.VideoPermissions"
                        allowfullscreen
                        referrerpolicy="@Stream.VideoReferrerPolicy"
            scrolling="no"
            loading="lazy">
                </iframe>
            }
            else if (Stream.IsKick)
            {
        <iframe src="@Stream.EmbedUrl"
                        class="stream-iframe"
                        title="@Stream.VideoTitle"
            width="100%"
            height="100%"
            frameborder="0"
                        allow="@Stream.VideoPermissions"
                        allowfullscreen
            scrolling="no"
            loading="lazy">
                </iframe>
            }
            else
            {
                <iframe src="@Stream.EmbedUrl"
                        frameborder="0"
                        class="stream-iframe"
                        title="@Stream.VideoTitle"
            width="100%"
            height="100%"
                        allowfullscreen
            scrolling="no"
            loading="lazy">
                </iframe>
            }
        </div>
        
        @if (StreamService.ChatMode == ChatDisplayMode.Attached)
        {
            <div class="stream-chat">
                @if (Stream.IsTwitch)
                {
                    <iframe src="@Stream.ChatUrl"
                            frameborder="0"
                            class="chat-iframe"
                            title="@Stream.ChatTitle"
                            loading="lazy">
                    </iframe>
                }
                else if (Stream.IsYouTube)
                {
                    <iframe src="@Stream.ChatUrl"
                            frameborder="0"
                            class="chat-iframe"
                            title="@Stream.ChatTitle"
                            referrerpolicy="@Stream.ChatReferrerPolicy"
                            loading="lazy">
                    </iframe>
                }
                else if (Stream.IsKick)
                {
                    <iframe src="@Stream.ChatUrl"
                            frameborder="0"
                            class="chat-iframe"
                            title="@Stream.ChatTitle"
                            referrerpolicy="@Stream.ChatReferrerPolicy"
                            loading="lazy">
                    </iframe>
                }
                else
                {
                    <iframe src="@Stream.ChatUrl"
                            frameborder="0"
                            class="chat-iframe"
                            title="@Stream.ChatTitle"
                            loading="lazy">
                    </iframe>
                }
            </div>
        }
    </div>
</div>

@code {
    [Parameter] public StreamInfo Stream { get; set; } = new();

    protected override void OnInitialized()
    {
        StreamService.ChatSettingsChanged += OnChatSettingsChanged;
    }

    private void OnChatSettingsChanged()
    {
        InvokeAsync(StateHasChanged);
    }

    public void Dispose()
    {
        StreamService.ChatSettingsChanged -= OnChatSettingsChanged;
    }
}
